services:
  marketplace-parser-service:
    build: ./
    container_name: marketplace-parser-service
    ports:
      - "8080:8080"
    env_file:
      - .env
    depends_on:
      - chromium
    restart: unless-stopped
    networks:
      - backend
  swagger-ui:
    image: swaggerapi/swagger-ui:latest
    container_name: swagger-ui
    ports:
      - "8081:8080"
    environment:
      SWAGGER_JSON: /openapi/openapi.yaml
    volumes:
      - ./api/v1/openapi.yaml:/openapi/openapi.yaml:ro
    depends_on:
      - marketplace-parser-service
    restart: unless-stopped
    networks:
      - backend
  chromium:
    image: ghcr.io/go-rod/rod:latest
    container_name: chromium
    ports:
      - "7317:7317"
    shm_size: 1g
    mem_limit: 2g
    # comment logging and driver if you need to see chromium logs
    logging:
      driver: "none" 
    volumes:
       - ./data/chrome_cache:/home/chrome/cache
    restart: unless-stopped
    networks:
      - backend

networks:
  backend:
    driver: bridge